<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Document Setup -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Set website metadata -->
    <title>NanoLab GUI</title>
    <meta name="description"
        content="NanoLab Software GUI">
    <meta name="theme-color" content="#1F85DE">
    <meta property="og:title" content="NanoLab GUI">
    <meta property="og:description"
        content="NanoLab Software GUI">

    <!-- Import Styles -->
    <link rel="stylesheet" href="/styles.css">

    <!-- Import Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <canvas id="graph" style="width: 70vw; height: 70vh;"></canvas>

    <script type="text/javascript" src="/webpack.bundle.js"></script>
</body>

</html>
